<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Fabflix</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    <resource-ref>
        <description>
            Resource reference to a factory for java.sql.Connection
            instances that may be used for talking to a particular
            database that is configured in the server.xml file.
        </description>
        <res-ref-name>jdbc/TestDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    
    <servlet>
        <description></description>
        <display-name>ListResults</display-name>
        <servlet-name>ListResults</servlet-name>
        <servlet-class>Fabflix.ListResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListResults</servlet-name>
        <url-pattern>/ListResults</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>LoginPage</display-name>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>Fabflix.LoginPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>MovieDetails</display-name>
        <servlet-name>MovieDetails</servlet-name>
        <servlet-class>Fabflix.MovieDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieDetails</servlet-name>
        <url-pattern>/MovieDetails</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>StarDetails</display-name>
        <servlet-name>StarDetails</servlet-name>
        <servlet-class>Fabflix.StarDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarDetails</servlet-name>
        <url-pattern>/StarDetails</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>Logout</display-name>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Fabflix.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>AdvancedSearch</display-name>
        <servlet-name>AdvancedSearch</servlet-name>
        <servlet-class>Fabflix.AdvancedSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdvancedSearch</servlet-name>
        <url-pattern>/AdvancedSearch</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <description></description>
        <display-name>HomePage</display-name>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Fabflix.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>ShoppingCart</display-name>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>Fabflix.ShoppingCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <description></description>
        <display-name>Checkout</display-name>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Fabflix.Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    
</web-app>
